*main*.py
/__pycache__/
*.pyc
.venv/
*.png
data/
show*data.py
test*.py
*.pkl
*.npz
*.keras
*.h5
*.pdf
*.zip
*.python-version
coco_classes.txt
yolo_images/
neural_style_transfer/
tools/
mnist*.txt
*.deb
*.csv
*.save
ZendeskArticles/
transformer_apps/
hbtn_*.sql
temperatures.sql
metal_bands.sql
